<launch>

  <arg name="ip" default="192.168.0.1" />

  <param name="TCS_IP" value="$(arg ip)" />
  <param name="robot_description" command="$(find xacro)/xacro.py $(find pa_viz_pf3400)/urdf/PF3400SX.urdf" />
  <param name="use_gui" value="true"/>

  <node name="PA_Viz_PF3400" pkg="pa_viz_pf3400" type="Setup.py" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find pa_viz_pf3400)/rviz/StandardSettings.rviz" required="true" />

</launch>